{% load static %}


<link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">


<header>
    <div class="header-top">
        <div class="header-top-left">
            <a href="tel:+33123456789" class="uk-icon-button  uk-margin-small-right" uk-icon="receiver"></a>
            Contact: (+237) 676 26 36 40 /
            695 10 65 84
        </div>
        <div class="header-top-right">
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
            <a href="https://wa.me/33612345678?text=Bonjour,%20je%20souhaite%20%avoir%20plus%20d'informations"
                class="uk-icon-button  uk-margin-small-right" uk-icon="whatsapp"></a>
            <a href="//t.me/@votre_nom_utilisateur?text=Bonjour,%20je%20souhaite%20%avoir%20plus%20d'informations"
                class="uk-icon-button  uk-margin-small-right" uk-icon="telegram"></a>
        </div>
    </div>
    <nav uk-sticky="start: 25vh; animation: uk-animation-slide-top" class="">
        <div class="uk-container">
            <div uk-navbar class="uk-navbar">
                <div class="uk-navbar-left">
                    <a href="/">
                        logo
                    </a>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/">ACCUEIL</a></li>
                        <li>
                            <a href="{% url 'main:service' %}">SERVICES</a>
                        </li>
                        <li><a href="{% url 'main:realisation' %}">REALISATIONS</a></li>
                        <li><a href="{% url 'main:contact' %}">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>