{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/contact.css' %}">

<section class="contact">
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
        data-src="{% static 'main/images/sable/product-jpeg-1000x1000.jpg' %}" uk-img>
        <!-- <div class="contact-banner">
            <h2>
                Bienvenue chez QUALISABLE
            </h2>
            <p>

                QUALISABLE est votre fournisseur de sable de référence. Nous proposons une vaste sélection de sables,
                adaptés à tous vos projets, de la construction à l'aménagement paysager. Nos livraisons sont
                personnalisées
                selon vos besoins.<br>Contactez-nous dès aujourd'hui !
            </p>
        </div> -->

    </div>

    <div class="uk-section uk-section-muted localisation-banner-info">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div class="localisation-banner-info-left">
                    <div class="content">
                        <h2 uk-scrollspy="cls: uk-animation-slide-right; repeat: true delay: 500">
                            Ne cherchez plus !
                        </h2>
                        <p uk-scrollspy="cls: uk-animation-slide-right; repeat: true delay: 500">
                            Nous sommes votre partenaire idéal pour l'achat de sable. Contactez-nous sans plus attendre
                            pour bénéficier de nos meilleurs prix et d'un service personnalisé.
                        </p>
                    </div>

                </div>

                <div class="localisation-banner-info-right">
                    <div class="div1">
                        <h2 uk-scrollspy="cls: uk-animation-slide-left; repeat: true delay: 500">
                            Nos contacts
                        </h2>
                        <p class="p1" uk-scrollspy="cls: uk-animation-slide-left; repeat: true delay: 500">
                            <span class="uk-icon-button" uk-icon="receiver"></span>
                            <span class="text">651091118/696697767</span>
                        </p>
                        <p class="p1" uk-scrollspy="cls: uk-animation-slide-left; repeat: true delay: 500">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                viewBox="0,0,256,256">
                                <g fill="#eac435" fill-rule="nonzero" stroke="none" stroke-width="1"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                    stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <g transform="scale(5.12,5.12)">
                                        <path
                                            d="M12,23.403v-0.013v-13.001l-0.12,-0.089h-0.01l-2.73,-2.02c-1.67,-1.24 -4.05,-1.18 -5.53,0.28c-0.99,0.98 -1.61,2.34 -1.61,3.85v3.602zM38,23.39v0.013l10,-7.391v-3.602c0,-1.49 -0.6,-2.85 -1.58,-3.83c-1.46,-1.457 -3.765,-1.628 -5.424,-0.403l-2.876,2.123l-0.12,0.089zM14,24.868l10.406,7.692c0.353,0.261 0.836,0.261 1.189,0l10.405,-7.692v-13.001l-11,8.133l-11,-8.133zM38,25.889v15.111c0,0.552 0.448,1 1,1h6.5c1.381,0 2.5,-1.119 2.5,-2.5v-21.003zM12,25.889l-10,-7.392v21.003c0,1.381 1.119,2.5 2.5,2.5h6.5c0.552,0 1,-0.448 1,-1z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                            <span class="text"> exaemple@gmail.com</span>
                        </p>
                        <p class="p1" uk-scrollspy="cls: uk-animation-slide-left; repeat: true delay: 500">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white icon" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="text"> Yaoundé Cameroun, Mfomakap </span>
                        </p>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class=" uk-section uk-section-muted">
        <div class="uk-container">
            <div class="sup-banner-form-body uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div class="sup-banner-form-text">
                    <div class="content">
                        <h2>nous contacter sans <span>frais supplémentaires</span>!</h2>
                        <p>
                            Pour nous contacter sans frais supplémentaires, nous vous invitons à remplir notre
                            formulaire de
                            contact en ligne. C'est simple, rapide et efficace. Vous pourrez ainsi nous faire part de
                            votre
                            projet et obtenir toutes les informations nécessaires.
                        </p>
                    </div>
                </div>
                <div class="sup-banner-form">

                    <div class="banner-form-content">
                        <div class="form-content__header">
                            <div class="brutalist-card__icon">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                                    </path>
                                </svg>
                            </div>
                            <div class="brutalist-card__alert">QUALISABLE</div>
                        </div>
                        <form class="uk-form-stacked" method="post" action="{% url 'main:contact' %}">
                            {% csrf_token %}
                            <p id="p1_form">
                                Remplissez ce formulaire et nous vous contacterons
                            </p>
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" name="nom"
                                        placeholder="Votre nom">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="email" name="mail" required
                                        placeholder="Votre adresse e-mail">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <textarea class="uk-textarea" id="form-stacked-text" name="message" required
                                        placeholder="Tapez votre message ici"></textarea>
                                </div>
                            </div>
                            <p>
                                Notez que votre adresse e-mail ne sera jamais divulguée.
                            </p>
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <button type="submit" name="envoi_cont"
                                        class="envoi_cont form-send_button">Envoyer</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}