{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home">
    <div data-src="{% static 'main/images/image1.jpg' %}" uk-img="loading: eager" 
        class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light">
        <!-- <img src="{% static 'main/images/image1.jpg' %}" alt=""> -->

        <h1>bonjour a tous </h1>
    </div>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
    <p>bonjour les gars de la sappologie </p>
</div>
{% endblock content %}