{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'main/css/index.css' %}">


<div class="home-content">
    <div class="home-content-banner">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
            uk-slideshow="animation: scale; autoplay: true; pause-on-hover: false">
            <div class="uk-slideshow-items">
                <div>
                    <img src="{% static 'main/images/sable/product-jpeg-1000x1000.jpg' %}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center">
                        <h2 uk-slideshow-parallax="x: 100,-100">CHEZ QUALISABLE</h2>
                        <p uk-slideshow-parallax="x: 200,-100">Votre fournisseur de sable de référence.</p>
                    </div>
                </div>
                <div>
                    <img src="{% static 'main/images/sable/maxresdefault-4.jpg' %}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center">
                        <h2 uk-slideshow-parallax="x: 100,-100">NOS PRODUITS</h2>
                        <p uk-slideshow-parallax="x: 200,0">Nous proposons une vaste sélection de sables,
                            adaptés à tous vos projets, de la construction à l'aménagement paysager.</p>
                    </div>
                </div>
                <div>
                    <img src="{% static 'main/images/sable/SAM_1518.JPG' %}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center">
                        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">LIVRAISON</h2>
                        <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">Nos livraisons sont personnalisées selon
                            vos besoins.</p>
                    </div>
                </div>
            </div>
            <!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                uk-slideshow-item="next"></a> -->
            <div class="sup-banner-card-body">
                <div class="sup-banner-card">
                    <div class="brutalist-card">
                        <div class="brutalist-card__header">
                            <div class="brutalist-card__icon">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                                    </path>
                                </svg>
                            </div>
                            <div class="brutalist-card__alert">QUALISABLE</div>
                        </div>
                        <div class="brutalist-card__message">
                            QUALISABLE est votre fournisseur de sable de référence. Nous proposons une vaste sélection
                            de
                            sables,
                            adaptés à tous vos projets, de la construction à l'aménagement paysager.
                        </div>
                        <div class="brutalist-card__actions">
                            <a class="brutalist-card__button brutalist-card__button--mark" href="#">NOUS CONTACTER</a>
                            <a class="brutalist-card__button brutalist-card__button--read" href="#">PASSER MA
                                COMMANDE</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <h1>BIENVENUE CHEZ QUALISABLE</h1>
        <p>
            QUALISABLE est votre fournisseur de sable de référence. Nous proposons une vaste sélection de sables,
            adaptés à tous vos projets, de la construction à l'aménagement paysager. Nos livraisons sont personnalisées
            selon vos besoins.
        </p>
        <a class="pass_command_btn" href="#">PASSER MA COMMANDE</a> -->
    </div>
</div>


<div class="div-vente-achat">
    <div class="div-vente-achat-left">
        <h1>Vente & livraison de Sable</h1>
        <p uk-scrollspy="cls: uk-animation-slide-left">
            Découvrez notre plateforme dédiée à la vente et à la livraison de sable de qualité. Que vous soyez un
            particulier, un professionnel du bâtiment ou un paysagiste, nous avons le produit qu'il vous faut. Notre
            engagement est de vous fournir un service rapide, fiable et adapté à vos besoins.
        </p>
        <p uk-scrollspy="cls: uk-animation-slide-right">
            Nous proposons une vaste sélection de sables, allant du sable fin pour les travaux de maçonnerie aux sables
            plus grossiers pour le drainage et le remblaiement. Chaque type de sable est soigneusement sélectionné pour
            garantir sa qualité et sa conformité aux normes en vigueur.
        </p>
    </div>
    <div class="div-vente-achat-right" id="vente-achat-right-id">
        <img src="{% static 'main/images/sable/179-sable-0-2.jpg' %}" alt="">
        <img uk-parallax="target: #vente-achat-right-id; start: -100%; end: 100%; x: 200; easing: 0; opacity: 0,1; easing: 2"
            src="{% static 'main/images/sable/waratah-sand-image-1920w.jpg' %}" alt="">
        <img uk-parallax="target: #vente-achat-right-id; start: -100%; end: 100%; x: 200;  y: 250; easing: 0; opacity: 0,1; easing: 2"
            src="{% static 'main/images/sable/20160130120920-w1000h1000.jpg' %}" alt="">
        <img uk-parallax="target: #vente-achat-right-id; start: -100%; end: 100% + 100; y: 250; easing: 0; opacity: 0,1; easing: 2"
            src="{% static 'main/images/sable/53a6e731def047e0b80cd6408057616f.jpg' %}" alt="">

    </div>
</div>

<div class="livraison-div">
    <div class="livraison-div-left">
        <div class="livraison-div-left-img"
            style="background-image: url('static/main/images/sable/13592865_20210525095729_jpeg6f1c6aea82edc17625bfc9d7b5a0ce4d.jpeg');">
        </div>
    </div>

    <div class="livraison-div-right">
        <h2>Livraisons rapides et sécurisées</h2>
        <p>
            Notre équipe de professionnels assure des livraisons rapides et sécurisées pour répondre à vos besoins
            en sable, à temps et en toute sécurité.
        </p>
    </div>
</div>

<div class="uk-background-cover uk-light uk-flex parallax-div" uk-parallax="bgy: -200"
    style="background-image: url('static/main/images/sable/Pour-acheter-du-sable.jpg');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h2>Votre partenaire idéal pour tous vos besoins en sable.</h2>
        <hr>
        <p>Ne laissez pas le temps vous filer entre les doigts, commandez du sable maintenant </p>
        <hr>
        <p>Du sable de qualité, livré à votre porte !</p>
    </div>

</div>


<div class="testimony-div" style="background-image: url('static/main/images/bg/wave.svg');">
    <div uk-slider="parallax: true;">

        <div class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-light">

            <div class="one-testimony-card">
                <div class="one-testimony-card-bar"></div>
                <div class="sous-one-testimony-card">
                    <div class="sur-one-testimony-card">
                        <div class="one-testimony-card-img"
                            style="background-image: url('static/main/images/profile/btp-persona.png');"></div>
                        <div class="one-testimony-card-content">
                            <h3>Kaffo Ramiro</h3>
                            <hr>
                            <div>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                            </div>
                            <p>Ne prenez pas seulement notre parole ! Consultez les témoignages de nos clients
                                satisfaits qui ont bénéficié de notre service de vente et livraison de sable.</p>
                            <i>Ingenieur des travaux</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-testimony-card">
                <div class="one-testimony-card-bar"></div>
                <div class="sous-one-testimony-card">
                    <div class="sur-one-testimony-card">
                        <div class="one-testimony-card-img"
                            style="background-image: url('static/main/images/profile/btp-persona.png');"></div>
                        <div class="one-testimony-card-content">
                            <h3>Kaffo Ramiro</h3>
                            <hr>
                            <div>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                            </div>
                            <p>Ne prenez pas seulement notre parole ! Consultez les témoignages de nos clients
                                satisfaits qui ont bénéficié de notre service de vente et livraison de sable.</p>
                            <i>Ingenieur des travaux</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-testimony-card">
                <div class="one-testimony-card-bar"></div>
                <div class="sous-one-testimony-card">
                    <div class="sur-one-testimony-card">
                        <div class="one-testimony-card-img"
                            style="background-image: url('static/main/images/profile/btp-persona.png');"></div>
                        <div class="one-testimony-card-content">
                            <h3>Kaffo Ramiro</h3>
                            <hr>
                            <div>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                            </div>
                            <p>Ne prenez pas seulement notre parole ! Consultez les témoignages de nos clients
                                satisfaits qui ont bénéficié de notre service de vente et livraison de sable.</p>
                            <i>Ingenieur des travaux</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-testimony-card">
                <div class="one-testimony-card-bar"></div>
                <div class="sous-one-testimony-card">
                    <div class="sur-one-testimony-card">
                        <div class="one-testimony-card-img"
                            style="background-image: url('static/main/images/profile/btp-persona.png');"></div>
                        <div class="one-testimony-card-content">
                            <h3>Kaffo Ramiro</h3>
                            <hr>
                            <div>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                            </div>
                            <p>Ne prenez pas seulement notre parole ! Consultez les témoignages de nos clients
                                satisfaits qui ont bénéficié de notre service de vente et livraison de sable.</p>
                            <i>Ingenieur des travaux</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-testimony-card">
                <div class="one-testimony-card-bar"></div>
                <div class="sous-one-testimony-card">
                    <div class="sur-one-testimony-card">
                        <div class="one-testimony-card-img"
                            style="background-image: url('static/main/images/profile/btp-persona.png');"></div>
                        <div class="one-testimony-card-content">
                            <h3>Kaffo Ramiro</h3>
                            <hr>
                            <div>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                            </div>
                            <p>Ne prenez pas seulement notre parole ! Consultez les témoignages de nos clients
                                satisfaits qui ont bénéficié de notre service de vente et livraison de sable.</p>
                            <i>Ingenieur des travaux</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-testimony-card">
                <div class="one-testimony-card-bar"></div>
                <div class="sous-one-testimony-card">
                    <div class="sur-one-testimony-card">
                        <div class="one-testimony-card-img"
                            style="background-image: url('static/main/images/profile/btp-persona.png');"></div>
                        <div class="one-testimony-card-content">
                            <h3>Kaffo Ramiro</h3>
                            <hr>
                            <div>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <svg fill="var(--second1-color)" viewBox="0 0 20 20" height="20" width="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                            </div>
                            <p>Ne prenez pas seulement notre parole ! Consultez les témoignages de nos clients
                                satisfaits qui ont bénéficié de notre service de vente et livraison de sable.</p>
                            <i>Ingenieur des travaux</i>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
</div>




{% endblock content %}