{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'main/css/index.css' %}">


<div class="home-content">
    <div class="home-content-banner">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
            uk-slideshow="animation: scale; autoplay: true; pause-on-hover: false">
            <div class="uk-slideshow-items">
                <div>
                    <img src="{% static 'main/images/sable/product-jpeg-1000x1000.jpg' %}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center">
                        <h2 uk-slideshow-parallax="x: 100,-100">CHEZ QUALISABLE</h2>
                        <p uk-slideshow-parallax="x: 200,-100">Votre fournisseur de sable de référence.</p>
                    </div>
                </div>
                <div>
                    <img src="{% static 'main/images/sable/maxresdefault-4.jpg' %}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center">
                        <h2 uk-slideshow-parallax="x: 100,-100">NOS PRODUITS</h2>
                        <p uk-slideshow-parallax="x: 200,0">Nous proposons une vaste sélection de sables,
                            adaptés à tous vos projets, de la construction à l'aménagement paysager.</p>
                    </div>
                </div>
                <div>
                    <img src="{% static 'main/images/sable/SAM_1518.JPG' %}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center">
                        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">LIVRAISON</h2>
                        <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">Nos livraisons sont personnalisées selon
                            vos besoins.</p>
                    </div>
                </div>
            </div>
            <!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                uk-slideshow-item="next"></a> -->
            <div class="sup-banner-card-body">
                <div class="sup-banner-card">
                    <div class="brutalist-card">
                        <div class="brutalist-card__header">
                            <div class="brutalist-card__icon">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                                    </path>
                                </svg>
                            </div>
                            <div class="brutalist-card__alert">QUALISABLE</div>
                        </div>
                        <div class="brutalist-card__message">
                            QUALISABLE est votre fournisseur de sable de référence. Nous proposons une vaste sélection
                            de
                            sables,
                            adaptés à tous vos projets, de la construction à l'aménagement paysager.
                        </div>
                        <div class="brutalist-card__actions">
                            <a class="brutalist-card__button brutalist-card__button--mark" href="#">NOUS CONTACTER</a>
                            <a class="brutalist-card__button brutalist-card__button--read" href="#">PASSER MA
                                COMMANDE</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <h1>BIENVENUE CHEZ QUALISABLE</h1>
        <p>
            QUALISABLE est votre fournisseur de sable de référence. Nous proposons une vaste sélection de sables,
            adaptés à tous vos projets, de la construction à l'aménagement paysager. Nos livraisons sont personnalisées
            selon vos besoins.
        </p>
        <a class="pass_command_btn" href="#">PASSER MA COMMANDE</a> -->
    </div>
</div>

<div class="first-Wrapper">
    <div class="first-Wrapper-left">first-Wrapper-left</div>
    <div class="first-Wrapper-right">first-Wrapper-right</div>
</div>


<div class="second-Wrapper">
    <div class="second-Wrapper-left">second-Wrapper-left</div>
    <div class="second-Wrapper-right">second-Wrapper-right</div>
</div>

<div class="third -Wrapper">
    <div class="third -Wrapper-left">third -Wrapper-left</div>
    <div class="third -Wrapper-right">third -Wrapper-right</div>
</div>


{% endblock content %}