{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--code html ici-->
<link rel="stylesheet" href="{% static 'main/css/services.css' %}">
  <!-- Section Nos Services -->
  <section class="uk-section">
    <div class="uk-container">
      <h2 class="text service uk-heading-medium">Nos Services</h2>
      <div class="uk-child-width-1-3@m" uk-grid>



        {% for service in services %}
         <!-- {{service.title}} -->
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-inline">
            <img src="{{ service.image.url }}" alt="{{service.name}}" width="1800" height="1200">

            <div class="text uk-overlay uk-overlay-default uk-position-bottom">
                <p>{{service.sable.type}}</p>
            </div>
        </div>
            <div class="uk-card-body">

              <h3 class="uk-card-title">{{service.name}} </h3>
              <p>{{service.description}}</p>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

    </div>
  </section>

<link rel="stylesheet" href="{% static 'main/css/contact.css' %}">

<section class="contact">
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
        data-src="{% static 'main/images/sable/product-jpeg-1000x1000.jpg' %}" uk-img>
    </div>

    <div class="uk-section uk-section-muted localisation-banner-info">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div class="localisation-banner-info-left">
                    <div class="content">
                        <h2 uk-scrollspy="cls: uk-animation-slide-right; repeat: true delay: 500">
                            Sable fin !
                        </h2>
                        <p uk-scrollspy="cls: uk-animation-slide-right; repeat: true delay: 500">
                            Le sable fin est un matériau de construction très prisé pour sa texture douce et ses propriétés polyvalentes. Voici quelques caractéristiques clés :
                            <ul>
                                <li><b>Granulométrie</b>: Le sable fin est composé de grains de petite taille, généralement compris entre 0,06 mm et 0,25 mm. Cette finesse lui confère une excellente capacité de compactage et de drainage.</li>

                                <li><b>Propriétés</b></li>
                                <ul>
                                    <li><b>Fluidité</b>: Sa texture permet une manipulation facile et un mélange homogène avec d'autres matériaux.</li>
                                    <li><b>Résistance</b>: Bien que léger, le sable fin offre une bonne résistance mécanique lorsqu'il est compacté correctement.</li>
                                    <li><b>Esthétique</b>: Il est souvent utilisé dans les projets de jardinage et d'aménagement paysager pour créer des surfaces lisses et attrayantes.</li>

                                </ul>
                                    <li><b>Avantages</b></li>
                                <ul>
                                    <li><b>Polyvalent</b> : Adapté à de nombreuses applications dans le bâtiment et l'aménagement extérieur.</li>
                                    <li><b>Facile à travailler</b>: Sa finesse facilite le mélange avec d'autres matériaux et permet un travail précis.</li>
                                    <li><b>Économie</b>: Son utilisation dans divers projets peut réduire les coûts globaux en matière de matériaux.</li>
                                </ul>
                            </ul>
                        </p>
                    </div>

                </div>

                <div class="localisation-banner-info-right">
                    <div class="div1">
                       

                        <img src="{% static 'main/images/sable/maxresdefault.jpg' %}"/>

                    </div>
                </div>


            </div>
        </div>

    </div>


<!--sable sanaga-->
    <div class="uk-section uk-section-muted localisation-banner-info">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div class="localisation-banner-info-left">
                    <div class="content">
                        <h2 uk-scrollspy="cls: uk-animation-slide-right; repeat: true delay: 500">
                            Sable Sanaga !
                        </h2>
                        <p uk-scrollspy="cls: uk-animation-slide-right; repeat: true delay: 500">
                            Le sable Sanaga est un type de sable fin et granulé, réputé pour sa qualité exceptionnelle et sa polyvalence dans le domaine de la construction. Originaire de la rivière Sanaga, ce sable est largement utilisé dans diverses applications, notamment :
                            <ul>
                                <li><b>Béton</b>: Grâce à sa texture uniforme, le sable Sanaga est idéal pour la fabrication de béton, assurant une bonne résistance et durabilité.</li>

                                <li><b>Maçonnerie</b>: Utilisé pour les mortiers, il permet de créer des joints solides et esthétiques dans les constructions en briques ou en blocs.</li>

                                    <li><b>Enduits</b>: Sa finesse permet d’obtenir des finitions lisses et agréables au toucher pour les revêtements intérieurs et extérieurs.</li>
                            <li><b>Caractéristiques</b></li>
                            <ul>
                                    <li><b>Granulométrie</b> : Le sable Sanaga présente une granulométrie fine, généralement comprise entre 0,063 mm et 2 mm.</li>
                                    <li><b>Propriétés</b>: Il est caractérisé par sa propreté, sa résistance et sa faible teneur en impuretés, ce qui le rend idéal pour des applications exigeantes.</li>
                                    <li><b>Écologique</b>: Étant un produit naturel, le sable Sanaga ne contient pas de produits chimiques nocifs, ce qui le rend sûr pour l'environnement.</li>
                                </ul>
                            </ul>
                        </p>
                    </div>

                </div>

                <div class="localisation-banner-info-right">
                    <div class="div1">


                        <img src="{% static 'main/images/sable/maxresdefault-4.jpg' %}"/>

                    </div>
                </div>


            </div>
        </div>

    </div>
</section>
{% endblock %}