footer{
    /* height: 40vh; */
    width: 100%;
    background-color: var(--principal1-color);
    background-color: #1d0e00;
    margin: 0px;
}


.footer_logo 
{
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
    background-position: center;
}

footer hr 
{
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* border: 1px solid  var(--principal2-color); */
    /* width: 70%;
    margin: auto; */
    margin: 0px 13%;

}
.footer-content{
    background-color: var(--principal1-color);
    background-color: #1d0e00;
    display: flex;
    padding: 6%;
    gap: 20px;
    justify-content: space-evenly;
    margin: 0px;
    padding-top: 20px;
    /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
}

.footer-content h3 {
    color: white;
    font-weight: bold;
}

.footer-logo-div {
    width: 25%;
    color: white;
}

.footer-logo-div h4 {
    color: white;

}

.plan-site-div {
    padding: 20px;

}

.plan-site-div ul {
    list-style: none;
    padding: 0px;
}

.plan-site-div li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
}

.plan-site-div li a {
    color: white;
    font-size: 20px;

}

.plan-site-div li a:hover {
    color: white;
    text-decoration: none;
}

.location-div {
    padding: 20px;
    color: white;
}

.location-div h4 {
    color: hwb(0 100% 0%);
}


footer .my-line {
    background-color: var(--principal2-color);
    height: 5px;
    /* width: 90%; */

}


.bottom-footer-div {
    background-color: var(--principal1-color);
    padding: 20px 5%;
    text-align: center;
}
.bottom-footer-div em {
    color: white;
}
.bottom-footer-div a {
    color: var(--second1-color)
}



.brutalist-card__button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid var(--principal1-color);
    background-color: #fff;
    color: var(--principal1-color);
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0 var(--principal1-color);
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 1rem;
}

.brutalist-card__button--read {
    background-color: var(--principal1-color);
    color: #fff;
}

.brutalist-card__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
    transition: all 0.6s;
}

.brutalist-card__button:hover::before {
    left: 100%;
}

.brutalist-card__button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 0 #000;
    text-decoration: none;
}

.brutalist-card__button--mark {
    color: var(--principal1-color) !important;
}


.brutalist-card__button--mark:hover {
    background-color: var(--second2-color);
    border-color: var(--principal1-color);
    color: #fff;
    box-shadow: 7px 7px 0 var(--second1-color);
}

.brutalist-card__button--read:hover {
    background-color: var(--principal2-color);
    border-color: var(--principal3-color);
    color: #fff;
    box-shadow: 7px 7px 0 var(--principal5-color);
}

.brutalist-card__button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}



@media screen and (max-width: 901px) {

.footer-content{
    flex-direction: column;
    padding: 2%;
    /* align-items: center; */
}

.footer-logo-div {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
}
}