* {
    /* margin: 0; */
    box-sizing: border-box;
}

header .header-top {
    position: relative;
    display: flex;
    height: 50px;
    background-color: var(--color1);
}

header .header-top .header-top-left {
    flex: 8;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    
}


header .header-top .header-top-right {
    flex: 4;
    background-color: var(--color-second1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white ;
}

header .header-top .header-top-right .uk-icon-button{
    background-color: transparent;
    color: white;
}

header .uk-navbar-container {
    background-color: white !important;
    position: sticky;
    top: 0;

}

header .uk-navbar-container .uk-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

}

header .uk-navbar-container .uk-active a {
    color: var(--color1);
    font-weight: bold;

}

header .uk-navbar-container .uk-active a:hover {
    color: var(--color1);
}

header .uk-sticky-fixed{
    background-color: var(--color-second1) !important;
    color: white ;
}

/* .contact-us-cta {
    background-color: white;
    border-radius: 40px;
    padding: 10px 20px;
    color: #582900;
    font-weight: bold;
    transition: .3s all ease;
    box-shadow: 2px 2px 1px 2px rgb(199, 199, 199), -6px -6px 5px 2px #582900;
}

.contact-us-cta:hover {
    text-decoration: none;
    transition: .3s all ease;
    scale: 1.02;
    color: #582900;

}

.contact-us-cta svg {
    border: 2px solid red;
    border-radius: 50%;
    transition: .3s all ease;
}

.contact-us-cta:hover svg {
    transform: translateX(5px);
    color: rosybrown;
    transition: .3s all ease;

} */