* {
    box-sizing: border-box;
}

header {
    background-color: var(--principal1-color);
    box-shadow: 0px 2.9px 1.4px -8px rgba(0, 0, 0, 0.09),
        0px 7.4px 3.6px -8px rgba(0, 0, 0, 0.062),
        0px 15.1px 7.4px -8px rgba(0, 0, 0, 0.05),
        0px 31px 15.3px -8px rgba(0, 0, 0, 0.04),
        0px 85px 42px -8px rgba(0, 0, 0, 0.028);
    width: 100%;
}

header .header-top {
    display: flex;
    height: 50px;
    background-color: var(--principal1-color);
}


header .header-top .header-top-right,
header .header-top .header-top-left {
    flex: 6;
    background-color: var(--principal1-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* header .header-top .header-top-left {
    flex: 4;
    background-color: var(--second1-color);
} */

header .header-top .header-top-left {
    flex: 6;
    background-color: var(--principal1-color);
}

header .header-top .header-top-right .uk-icon-button,
header .header-top .header-top-left .uk-icon-button {
    color: black;
    height: 30px;
    width: 30px;
}


header .uk-navbar-container {
    background-color: white !important;
    width: 100%;

}

header nav {
    background-color: #1d0e00 !important;
    height: 9.5vh;
    padding-left: 0px;
}

header nav .uk-container,
header nav .uk-container .uk-navbar {
    height: 100% !important;
    width: 100%;
}

header nav .uk-container {
    margin: 0px;
}


/* uk-navbar-container  */

.uk-navbar-nav>li {
    padding: 20px 0px;

}

.uk-navbar-nav>li>a {
    min-height: 10px !important;
}

header .uk-navbar-left a {
    color: white !important;
    font-weight: bold;
}


header .uk-navbar-left .uk-active a {
    /* color: yellow !important; */
    font-weight: bold;
    /* border: 1px solid var(--principal1-color); */
    border-bottom: 1px solid white;
    /* padding: 5px; */
    /* border-radius: 20px; */
}

header .uk-navbar-container .uk-active a:hover {
    color: var(--principal1-color);
}

header .uk-sticky-fixed {
    background-color: var(--principal1-color) !important;
    color: white;
}


.pass_command_btn {
    background-color: var(--principal1-color);
    padding: 20px 50px;
    border-radius: var(--radius);
    color: white;
    font-weight: bold;
    box-shadow:
        0px 4.3px 3.1px rgba(0, 0, 0, 0.19),
        0px 12px 8.5px rgba(0, 0, 0, 0.124),
        0px 28.9px 20.5px rgba(0, 0, 0, 0.095),
        0px 96px 68px rgba(0, 0, 0, 0.066);
}

.pass_command_btn:hover {
    color: white;
    text-decoration: none;
    box-shadow:
        0px 5.3px 3.1px rgba(0, 0, 0, 0.42),
        0px 14.7px 8.5px rgba(0, 0, 0, 0.274),
        0px 35.3px 20.5px rgba(0, 0, 0, 0.21),
        0px 117px 68px rgba(0, 0, 0, 0.146);
}



@media screen and (max-width: 901px) {
    .my-mobile-header {
        background-color: var(--principal1-color);
        padding: 10px 20px;
    }


    .my-mobile-header .uk-sticky-below {
        background-color: yellow;
        height: 100px !important;
        width: 100% !important;

    }

    .my-mobile-header .uk-navbar-toggle {
        min-height: 30px !important;
    }

}